// Typography
$size-7: 0.875rem;
$size-8: 0.75rem;

// Colors
$primary: #4F4FFF;

// Buttons
$button-background-color: #F1F2F3;
$button-text-hover-background-color: #E3E6E8;
$button-color: #171A1C;
$button-border-width: 0;
